/* Banner */
.banner {
    background: url('https://via.placeholder.com/1200x400') no-repeat center center / cover;
    height: 400px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.banner-content {
    position: relative;
    z-index: 2;
}

.banner h1 {
    font-size: 3rem;
}

.produtos h2 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

/* Rodapé */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
